html {
    height: 100%;
}

header {
    height: 150px;
    text-align: center;
}


.menu {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}


nav {
    background-color: rgba(0, 0, 0, 0.308);
    font-weight: bold;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

body {
    background-color: rgb(111, 134, 192);
    background-image: url(images/Poke.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;    
}

main {
    line-height: 300%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;

    input[type=text], select, textarea {
        width: 100%; 
         
        border: 2px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
        margin-top: 6px; 
        margin-bottom: 16px; 
        resize: vertical 
      }
      
      
      input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
     
      input[type=submit]:hover {
        background-color: #4354b9;
      }
      
      
      .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      }
}

a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}

nav a {
    text-decoration: none;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

p {
    font-size: 1.5em;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}

